.slide {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 10px;
}

.slide p {
    width: 1000px;
}

.controls {
    display: flex;
    gap: 10px;
}

.sideBySide {
    display: flex;
    gap: 20px;
    align-items: start;
}