.menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-right: 1px solid #001219;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 20px 20px;
	height: 100vh;
}


.menu a {
	text-decoration: none;
	color: unset;
}
